@{
    ViewBag.Title = "Home Page";
}
<script>
    $(document).ready(function () {
        $(".date-show-hide").css('visibility', 'visible');
        $(".date-show-hide").css('margin-bottom', '-20px');

    });
</script>

<div class="jumbotron">


    <div>
        <b style="font-size: large; color: #333333; font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif;">
            Ремонт на Покриви.<br />
            Гарантирано качество на най-ниски цени .<br />Монтаж на Хидроизолация Цени. <span style="color: blue;">10.00 лв кв.м</span><br />
            Пренареждане на Керемиди.<span style="color: red; white-space: pre;">         9.80 лв кв.м</span><br /> Тенекеджийски услуги олуци.<br />
        </b>
        <span style="color: #111111; font-family: trebuchet; font-size: 21px;"><b>Изграждане на нови покриви, дървени конструкции</b></span>

    </div>
    <div style="text-align: left; padding-top: 6em; padding-bottom: 6em;">
        <span style="color: #111111; font-family:  trebuchet ms ; font-size: 21px;"><b style="background-color: white; color: #333333; font-family: arial, tahoma, helvetica, freesans, sans-serif; text-align: center;"><b style="color: black; font-family:  Times New Roman ;"><span style="font-size: large;">За технически въпроси и предварителни огледи:</span></b></b></span>
        <a href="https://4.bp.blogspot.com/-Mm6TXtaQvMM/WD6-8bOCWXI/AAAAAAAABvg/LfoX3W-H41saiwuVJi5vZwb6QVwiWtAogCLcB/s1600/telefon.gif" imageanchor="1" style="text-align: center; margin-left: 15em; margin-right: 1em;"><img border="0" src="https://4.bp.blogspot.com/-Mm6TXtaQvMM/WD6-8bOCWXI/AAAAAAAABvg/LfoX3W-H41saiwuVJi5vZwb6QVwiWtAogCLcB/s1600/telefon.gif"></a><br />
        <div style="padding-left: 3em;">
            <a href="https://1.bp.blogspot.com/-yvXIgXDmNGA/WD6-tOKpwFI/AAAAAAAABvc/6-RltarvAhErgyS8NtbuEKCjeWEeRoAxgCLcB/s1600/strelka.GIF" imageanchor="1" style="background-color: white; font-family: arial, tahoma, helvetica, freesans, sans-serif; font-size: x-large; margin-left: 1em; margin-right: 1em; text-align: center;"><img border="0" src="https://1.bp.blogspot.com/-yvXIgXDmNGA/WD6-tOKpwFI/AAAAAAAABvc/6-RltarvAhErgyS8NtbuEKCjeWEeRoAxgCLcB/s1600/strelka.GIF"></a>
            <span style="background-color: white; color: #333333; font-family: arial, tahoma, helvetica, freesans, sans-serif; font-size: 21px; text-align: center;"><span style="font-size: large;">: <u>0898 93 95 54</u> </span></span>
            <span style="background-color: white; color: #333333; font-family: arial, tahoma, helvetica, freesans, sans-serif; font-size: 21px; text-align: center;"><span style="font-size: large;"> г-н Алексов</span></span>
        </div>
    </div>
    <div class="separator" style="  text-align: center;">
        <b style="font-size: x-large;">Ремонт на Покриви. </b><b style="background-color: white; font-family: Helvetica, Arial, sans-serif; font-size: 14px;"><span style="font-size: 20px;"><i>ВАЖНО.</i></span></b>
    </div>
    <b style="background-color: white; font-family: Helvetica, Arial, sans-serif; font-size: 14px; margin-bottom: 15px;"><span style="font-size: 20px;"><i>Нашите Клиенти получават всяка Година Безплатна Профилактика за Извършените от нас Дейности, до изтичане на Гаранцията Сигурност и Качество.</i></span></b><br /><br /><br />

    <span style="color: red; font-family:  trebuchet ms ; font-size: 21px; outline: none; padding-left: 15px;">Извършва всички видове строително-ремонтни дейности.</span>

    <div class="list" style="background-color: white; color: #111111; font-family:  trebuchet ms ; font-size: 21px; margin: 0px; outline: none; padding: 0px; border-bottom: none; padding-bottom: 50px;">
        <ol style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px;">
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="color: black; outline: none;">Ремонт на покриви </span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Хидроизолация на покриви</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Изграждане на нови покриви, дървени конструкции</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Хидроизолация с български и вносни материали</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Частични покривни ремонти</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Ремонти на улуци - обикновени и безшевни (тип Американски)</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Поправки на покриви и итенекеджийск услуги</span></li>
            <li style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); list-style-position: inside; margin: 0px; outline: none; padding: 0px 0px 0px 8px;"><span style="outline: none;">Боядисване на покривни ламарини, улуци, и водостоци</span></li>
        </ol>
    </div>

    <div class="n j-textWithImage" id="cc-m-6352186768">
        <div class="clearover">
            <div class="permanent">
                <div class="permanent-left">
                    <br>
                    <br>
                    <br>
                    <div style="text-align: center;">
                        <b><span style="color: blue;"> Ремонт на покриви в София</span></b><br>
                        <b>За технически въпроси и предварителни огледи:  </b><br>
                        <br>
                        <b><br></b>
                        <b style="background-color: white; font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align: start;"><span data-mce-style="font-size: 16px;" style="font-size: 16px;">Извършва всички видове строително-ремонтни дейности и изгражда нови обекти на територията на България. Ние държим на качеството във всички фази на строителния процес от проектирането до довършителните работи.</span></b><br>
                        <br>
                        <br>
                        <div>
                            <div>
                                <b>!!! ГАРАНЦИЯ ЗА РЕМОНТ НА ПОКРИВ - НАШ ПРИОРИТЕТ !!!</b>
                            </div>
                            <div>
                                <div align="left">
                                    <b> !!! ГАРАНЦИЯТА ЗА РЕМОНТ НА ПОКРИВИ Е НАЙ-ВАЖНАТА ЧАСТ ОТ ДОБРОТО ИМЕ НА ФИРМАТА!!!</b>
                                </div>
                                <div align="left">
                                    <b>!!! ГАРАНЦИИТЕ КОЙТО ПРЕДЛАГАМЕ НИЕ СА МЕЖДУ 7 ДО 15 ГОДИНИ...</b>
                                </div>
                                <div align="left">
                                    <b>!!! В ГАРАНЦИОННИЯТ СРОК ЗА РЕМОНТИРАН ПОКРИВ ВКЛЮЧВА ,ПРОВЕРКА НА ПОКРИВА ВСЯКА ГОДИНА,ПРЕДИ ЗИМНИЯ СЕЗОН!</b><br>
                                    <span style="background-color: white; color: #576a73; font-family:  merriweather , serif; font-size: 16px; text-align: justify;"><br></span>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><br></span></span>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b>Всеки един покрив с времето достига до момент, в който се нуждае от освежаване или лек ремонт. Когато покривът е здрав - без течове, експоатационният живот на сградата е по-дълъг.</b></span></span><br>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b>Решенията за ремонт на пакрива са едни от най-важните финансови решения, които се правят по отношение на сградите. </b></span></span><br>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b>Хидроизолация на покрив - това е част от стъпките, които целят да направят вашият покрив вечен.</b></span></span><br>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b>Ние имаме дългогодишен опит в полагането на хидроизолация на покриви и даваме гаранция за качество на извършваната услуга. Използваме само качествени материали, които ще направят резултатът от ремонта на покрива ви отличен и почти вечен.</b></span></span><br>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b><br></b></span></span>
                                    <span style="background-color: white; font-size: 16px; text-align: justify;"><span style="font-family:  verdana , sans-serif;"><b><br></b></span></span>
                                    <span style="background-color: white; color: #576a73; font-family:  merriweather , serif; font-size: 16px; text-align: justify;"><b style="color: black; font-family:  Times New Roman ; font-size: medium; text-align: start;"> Дейността на фирмата се разшири и вече извършва в цялата страна. Извършваме</b><span style="color: black; font-family:  times new roman ; font-size: small; text-align: start;">:<br/> Ремонт на покриви София, Ремонт на покриви пловдив, Обяви ремонт на покриви, Перник, Плевен, Пазарджик, Асеновград, Стара Загора, Костинброд, Ябланица, Кюстендил, Карлово, Дупница, Димитровград, ремонт на покриви самоков, Благоевград, Варна, Враца, Бургас, Банкя, Ботевград, Елин Пелин, Сливница, Велико Търново, Разград, Радомир, Раковски, Бобов дол, Хасково, Монтана, Шумен, Казанлък, Костенец, Гоце Делчев, Севлиево, Габрово, Нова Загора, Своге, Сандански, Велинград, Белово, Харманли, Чирпан, Правец, Септември, Смолян, Търговище, Калофер, Сливен, Бояна, щъркелово гнездо, Боровец, Божурище, Симеоново, Драгалевци, Бистрица, Панчарево, Горна Оряховица, Горни лозен, Лозен, Горна баня, Княжево, Годеч...и други.</span></span>
                                    <b><br></b>
                                    <br>
                                    <b><br></b>
                                    <br>
                                    <b><br></b>
                                    <b><br></b>
                                    <br>
                                    <div class="separator" style="  text-align: center;">
                                    </div>
                                    <div class="separator" style="  text-align: center;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- NACHALO NA BGTOPS.COM --><a href="http://bgtops.com/index.php?a=in&amp;u=remontpokrivi123"></a><a href="http://bgtop.net/vote/1371150654" target="_blank">.: BGtop.net :. Топ класацията на българските сайтове</a><br>
                    <a href="http://bgtops.com/index.php?a=in&amp;u=remontpokrivi123"></a>
                    <br />
                    <br />
                    <a href="http://kaoxo.com/in/117" target="_blank" title="Топ класация на сайтовете Kaoxo"><img alt="топ класация на сайтове kaoxo" src="https://kaoxo.com/img/kaoxo.jpg" style="border: 0; outline: 0;" title="Kaoxo - Топ класация на всички сайтове в България"></a>
                </div>
                <div class="post-footer" style="padding-top: 20px;">
                    <div class="post-footer-line post-footer-line-1">
                        <span class="post-author vcard">
                            Публикувано от
                            <span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                <span itemprop="name">remontpokrivi@abv.bg в</span>
                            </span>
                        </span>
                        <span class="post-timestamp" style="padding-left: 5px;">
                            <meta content="http://hidroremonti.blogspot.com/2016/10/blog-post.html" itemprop="url">
                            <a class="timestamp-link" href="http://hidroremonti.blogspot.bg/2016/10/blog-post.html" rel="bookmark" title="permanent link"><abbr class="published" itemprop="datePublished" title="2017-03-12T14:30:00+02:00">неделя, март 12, 2017</abbr></a>
                        </span>


                        <div class="post-share-buttons goog-inline-block inline">

                            <a class="send-email share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=email" target="_blank" title="Изпращане по имейл">
                                <span class="share-button-link-text"></span>
                            </a>
                            <a class="share-blog share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=blog" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="Публикувайте в блога си!">
                                <span class="share-button-link-text"></span>
                            </a>
                            <a class="share-twitter share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=twitter" target="_blank" title="Споделяне в Twitter">
                                <span class="share-button-link-text"></span>
                            </a>
                            <a class="share-facebook share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=facebook" onclick="window.open(this.href, _blank, height = 430, width = 640);return false;" target="_blank" title="Споделяне във Facebook">
                                <span class="share-button-link-text"></span>
                            </a>
                            <a class="share-pinterest share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=pinterest" target="_blank" title="Споделяне в Pinterest">
                                <span class="share-button-link-text"></span>
                            </a>
                            <a class="share-Gplus share" href="https://plus.google.com/share?app=110&url=http%3A%2F%2Fhidroremonti.blogspot.com%2F2016%2F10%2Fblog-post.html" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="G+">
                                <span class="share-button-link-text"></span>
                            </a>
                        </div>
                    </div>
                    <div class="post-footer-line post-footer-line-2">
                        <span class="post-labels">
                            Етикети:
                            <a href="http://hidroremonti.blogspot.bg/search/label/%D1%80%D0%B5%D0%BC%D0%BE%D0%BD%D1%82%20%D0%BD%D0%B0%20%D0%BF%D0%BE%D0%BA%D1%80%D0%B8%D0%B2%D0%B8" rel="tag">ремонт на покриви</a>
                        </span>
                    </div>
                    <div class="post-footer-line post-footer-line-3" style="padding-bottom: 20px">
                        <span class="post-location">
                            Място:
                            <a href="https://maps.google.com/maps?q=%D0%B1%D1%83%D0%BB+%D1%81%D0%BB%D0%B8%D0%B2%D0%BD%D0%B8%D1%86%D0%B0+4,+1309+Sofia,+Bulgaria@42.6586,23.364326000000005&amp;z=10" target="_blank">бул сливница 4, 1309 Sofia, Bulgaria</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
