@{
    ViewBag.Title = "Offers";
}

<div class="post hentry uncustomized-post-template" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <meta content="4004540595950310606" itemprop="blogId">
    <meta content="5671574834540783388" itemprop="postId">
    <a name="5671574834540783388"></a>
    <h3 class="post-title entry-title" itemprop="name">
        Оферти
    </h3>
    <div class="post-header">
        <div class="post-header-line-1"></div>
    </div>
    <div class="post-body entry-content" id="post-body-5671574834540783388" itemprop="description articleBody">
        <span style="font-size: large;">Ремонт на покрив от керемиди -  труд и материали</span><br>
        <br>
        <br>
        <br>
        <br>
        Разкриване на керемиди от покривното пространство <br>
        <br>
        Почистване на прах и кал<br>
        <br>
        Подмяна на изгнили дъски до 2% от площта на покрива<br>
        <br>
        Полагане на под керемидена изолация(мембрана )<br>
        <br>
        Наковаване на летви за&nbsp; задържане&nbsp; на&nbsp; керемидите <br>
        <br>
        Нареждане на керемиди ( липсващите керемидите до&nbsp; 50 бр. са за&nbsp; сметка&nbsp; на&nbsp; изпълнителя&nbsp; ) <br>
        <br>
        Подмазване на капаци с варов-циментов разтвор<br>
        <br>
        Изхвърляне на строителни отпадъци от покривното пространство до&nbsp; контейнер осигурен от изпълнителя.<br>
        <br>
        Гаранция за извършената работа 10 год&nbsp; <br>
        <br>
        <br>
        &nbsp;Този пакет от дейности &nbsp;&nbsp;<span style="color: red; font-size: large;"><b>9.80&nbsp;&nbsp; лв</b>./ кв.метър -</span><b style="background-color: white; color: red; font-family: Arial, Tahoma, Helvetica, FreeSans, sans-serif; font-size: large; line-height: 25.2px;">за над-100 м2&nbsp;</b><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span style="font-size: large;">Хидроизолация с полагане на воалит -  труд и материали</span><br>
        <br>
        <br>
        <br>
        <br>
        Почистване на основата<br>
        <br>
        Изкърпване на покривни язви, където е необходимо<br>
        <br>
        Грундиране на основата, ако е необходимо<br>
        <br>
        Полагане на воалит&nbsp; <span style="font-size: small;">по-сипка </span>&nbsp; (4.00 кг/m²)<br>
        <br>
        Залепване с газопроводна горелка<br>
        <br>
        Този пакет от дейности &nbsp;<span style="color: red; font-size: large;"><b>10.00лв./ кв.метър за над-100 м2&nbsp;</b></span><br>
        <br>
        <br>
        <br>
        <span style="font-size: large;">Подмяна на улуци и водосточни тръби</span><br>
        <br>
        <br>
        <br>
        Демонтаж и монтаж на улуци - труд и материали <b>15 лв./метър</b><br>
        <br>
        Подмяна на водосточни тръби - труд и материали <b>20 лв./метър</b><br>
        <br>
        <br>
        <br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Тенекеджийски услуги</span><br>
        <br>
        <br>
        Подмяна на капандури - цена по договаряне<br>
        <br>
        <br>
        Обшиване на комини - цена по договаряне<br>
        <br>
        <br>
        Обшиване на бордове - цена по договаряне<br>
        <br>
        <br>
        <br>
        <table>
            <tbody>
                <tr><td colspan="2" id="th"><span style="font-size: large;">Цена за изграждане на покриви - нова конструкция</span></td></tr>
                <tr><td id="tl">1. Демонтаж на съществуващата конструкция</td><td id="tr">15,00 лв/m<sup>2</sup></td></tr>
                <tr><td id="tl">2. Изграждане на нова конструкция до дъсчена ламперия</td><td id="tr"><br></td></tr>
                <tr><td id="tl">Цена на материалите   </td><td id="tr">27,00 лв/m<sup>2</sup></td></tr>
                <tr><td id="tl">Труд   </td><td id="tr">25,00 лв/m<sup>2</sup></td></tr>
                <tr><td id="tl">Всичко труд и материали   </td><td id="tr"><span style="color: red;">67,00 лв/m<sup>2</sup></span></td></tr>
            </tbody>
        </table>
        <br>
        <br>
        <span style="font-size: large;">Други услуги</span><br>
        <br>
        Надстройка на таванска стая - цена по договаряне<br>
        <br>
        <br>
        Разкриване и почистване на старата конструкция - цена по договаряне<br>
        <br>
        <br>
        Полагане на греди и наковаване на дъсчена ламперия - цена по договаряне
        <div style=" padding-bottom: 30px;"></div>
    </div>

    <div class="post-share-buttons goog-inline-block inline">

        <a class="send-email share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=email" target="_blank" title="Изпращане по имейл">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-blog share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=blog" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="Публикувайте в блога си!">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-twitter share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=twitter" target="_blank" title="Споделяне в Twitter">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-facebook share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=facebook" onclick="window.open(this.href, _blank, height = 430, width = 640);return false;" target="_blank" title="Споделяне във Facebook">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-pinterest share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=pinterest" target="_blank" title="Споделяне в Pinterest">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-Gplus share" href="https://plus.google.com/share?app=110&url=http%3A%2F%2Fhidroremonti.blogspot.com%2F2016%2F10%2Fblog-post.html" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="G+">
            <span class="share-button-link-text"></span>
        </a>
    </div>

</div>
