@{
    ViewBag.Title = "Price_pokriv_keremidi";
}
<div class="post hentry uncustomized-post-template" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <meta content="4004540595950310606" itemprop="blogId">
    <meta content="2650524402427503467" itemprop="postId">
    <a name="2650524402427503467"></a>
    <h3 class="post-title entry-title" itemprop="name">
        Цени  за покрив с керемиди
    </h3>
    <div class="post-body entry-content" id="post-body-2650524402427503467" itemprop="description articleBody" style="padding-bottom: 60px;">
        <h3 class="post-title entry-title" itemprop="name">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="font-size: x-large;"><b><span style="font-weight: normal;">Оферта&nbsp;</span></b></span>
        </h3>
        <h3 class="post-title entry-title" itemprop="name">
            <span style="font-size: x-large;"><b><span style="font-weight: normal;">&nbsp;</span></b></span>
        </h3>
        <span style="font-size: large;">Ремонт на покрив от керемиди -  труд и материали</span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Разкриване на керемиди от покривното пространство </span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Почистване на прах и кал</span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Подмяна на изгнили дъски до 2% от площта на покрива</span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Полагане на под керемидена изолация&nbsp; </span><span style="font-size: large;"><span class="st"><i>мембрана</i></span></span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Наковаване на летви за&nbsp; задържане&nbsp; на&nbsp; керемидите </span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Нареждане на керемиди ( липсващите керемидите до&nbsp; 50 бр. са за&nbsp; сметка&nbsp; на&nbsp; изпълнителя&nbsp; ) </span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Подмазване на капаци с варов-циментов разтвор</span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">Изхвърляне на строителни отпадъци от покривното пространство до&nbsp; контейнер осигурен от изпълнителя.&nbsp;</span><br>
        <br>
        <span style="font-size: large;">Гаранция за извършената работа 10 год.&nbsp; </span><br>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;"><br></span>
        <span style="font-size: large;">&nbsp;Този пакет от дейности &nbsp;<span style="color: red;"><b>9.80&nbsp;&nbsp; лв</b>./ кв.метър</span></span>
    </div>
    <div class="post-share-buttons goog-inline-block inline">

        <a class="send-email share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=email" target="_blank" title="Изпращане по имейл">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-blog share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=blog" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="Публикувайте в блога си!">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-twitter share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=twitter" target="_blank" title="Споделяне в Twitter">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-facebook share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=facebook" onclick="window.open(this.href, _blank, height = 430, width = 640);return false;" target="_blank" title="Споделяне във Facebook">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-pinterest share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=pinterest" target="_blank" title="Споделяне в Pinterest">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-Gplus share" href="https://plus.google.com/share?app=110&url=http%3A%2F%2Fhidroremonti.blogspot.com%2F2016%2F10%2Fblog-post.html" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="G+">
            <span class="share-button-link-text"></span>
        </a>
    </div>
</div>