@{
    ViewBag.Title = "Zavursheni_obekti";
}

<div class="post hentry uncustomized-post-template" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <meta content="https://3.bp.blogspot.com/-T1Mb8TbTTEE/VsmFfyTfcOI/AAAAAAAABPA/APcccpUZ28k/s320/20151006_182844.jpg" itemprop="image_url">
    <meta content="4004540595950310606" itemprop="blogId">
    <meta content="3635661499358878437" itemprop="postId">
    <a name="3635661499358878437"></a>
    <h3 class="post-title entry-title" itemprop="name">
        Обекти който завършихме
    </h3>
    <div class="post-body entry-content" id="post-body-3635661499358878437" itemprop="description articleBody">
        <span style="font-size: x-large;"><span style="color: blue;">гр. София &nbsp;жк</span></span><span style="color: blue;">&nbsp;<span style="font-size: x-large;">. Обелия бл, 273 вх Б</span></span><span style="font-size: large;">&nbsp;</span><br>
        <div>
            <span style="color: blue; font-size: large;">Монтаж на 1 пласт Хидроизолация с Посипка 4.00 кг&nbsp;</span><br>
            <div class="separator" style="text-align: center;">
                <a href="https://3.bp.blogspot.com/-T1Mb8TbTTEE/VsmFfyTfcOI/AAAAAAAABPA/APcccpUZ28k/s1600/20151006_182844.jpg" imageanchor="1" style="float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" height="320" src="https://3.bp.blogspot.com/-T1Mb8TbTTEE/VsmFfyTfcOI/AAAAAAAABPA/APcccpUZ28k/s320/20151006_182844.jpg" width="180"></a>
            </div>
            <a href="https://3.bp.blogspot.com/-N2cZiOTcO50/VsmFrgHT3qI/AAAAAAAABPE/JK-HBURH1S4/s1600/20151006_182858.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em; text-align: center;"><img border="0" height="320" src="https://3.bp.blogspot.com/-N2cZiOTcO50/VsmFrgHT3qI/AAAAAAAABPE/JK-HBURH1S4/s320/20151006_182858.jpg" width="180"></a>&nbsp;<a href="https://1.bp.blogspot.com/-R3t3FGCcnJM/VsmF1tFSypI/AAAAAAAABPM/gdVhzOjW9sE/s1600/14441455052411456978393.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em; text-align: center;"><img border="0" height="320" src="https://1.bp.blogspot.com/-R3t3FGCcnJM/VsmF1tFSypI/AAAAAAAABPM/gdVhzOjW9sE/s320/14441455052411456978393.jpg" width="180"></a><br>
            <br>
            <br>
            <br>
            <span style="font-size: x-large;"><span style="color: blue;">Ремонт на къща &nbsp;в гр. София &nbsp;кв. Христо Ботев</span>&nbsp;</span><br>
            <span style="font-size: x-large;"><span style="color: blue;">Пренареждане на керемиди</span>&nbsp;</span><br>
            <span style="font-size: x-large;"><br></span>
            <br>
            <div class="separator" style=" text-align: center;">
                <a href="https://3.bp.blogspot.com/-qlRHeUTgjmw/VsmGWJgQBKI/AAAAAAAABPk/amblIIQ10mY/s1600/IMG_20150714_191335.jpg" imageanchor="1" style="float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" height="200" src="https://3.bp.blogspot.com/-qlRHeUTgjmw/VsmGWJgQBKI/AAAAAAAABPk/amblIIQ10mY/s200/IMG_20150714_191335.jpg" width="150">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </a><a href="https://4.bp.blogspot.com/-PFbeKcnWLmI/VsmGekjTGiI/AAAAAAAABPk/aRdnk2wsPVA/s1600/IMG_20150714_190037.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="200" src="https://4.bp.blogspot.com/-PFbeKcnWLmI/VsmGekjTGiI/AAAAAAAABPk/aRdnk2wsPVA/s200/IMG_20150714_190037.jpg" width="150"></a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="https://1.bp.blogspot.com/-IQi-OSicSOw/VsmGZ-2PJaI/AAAAAAAABPk/9-5N41tMmUU/s1600/IMG_20150714_190058.jpg" imageanchor="1" style="display: inline !important; margin-bottom: 1em; margin-right: 1em;"><img border="0" height="200" src="https://1.bp.blogspot.com/-IQi-OSicSOw/VsmGZ-2PJaI/AAAAAAAABPk/9-5N41tMmUU/s200/IMG_20150714_190058.jpg" width="150"></a>
            </div>
            <div class="separator" style="text-align: center;">
                <br>
            </div>
            <div class="separator" style="text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="background-color: #f3f3f3; color: blue; font-size: x-large;">Монтаж на Бит умни Керемиди в гр. СОФИЯ ул Боровец № 3</span>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="font-size: x-large;"><br></span>
            </div>
            <div class="separator" style="  text-align: center;">
                <a href="https://3.bp.blogspot.com/-rVWjB_iTJsk/VsmIkBF50YI/AAAAAAAABPs/slC1Y1OqywY/s1600/bitumni%2Bkeremidi.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="400" src="https://3.bp.blogspot.com/-rVWjB_iTJsk/VsmIkBF50YI/AAAAAAAABPs/slC1Y1OqywY/s400/bitumni%2Bkeremidi.jpg" width="225"></a>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="background-color: #f3f3f3; color: #f3f3f3;"><br></span>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="background-color: #f3f3f3; color: blue; font-size: x-large;">Пренареждане на Керемиди в гр. София бул . Христо Ботев № 85</span>
            </div>
            <div class="separator" style="  text-align: center;">
                <a href="https://1.bp.blogspot.com/-W64SO1rjuAE/VsmJUO7_coI/AAAAAAAABP0/zV4Nh_SZy4Q/s1600/pokrivi11.jpg" imageanchor="1" style="  display: inline !important; margin-bottom: 1em; margin-right: 1em;"><span style="color: blue;"><br></span></a>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <a href="https://4.bp.blogspot.com/-pDfd0YTZy0g/VsmJcuY5fCI/AAAAAAAABQA/r3N0DsEWjNk/s1600/pokrivi16.jpg" imageanchor="1" style="  float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" src="https://4.bp.blogspot.com/-pDfd0YTZy0g/VsmJcuY5fCI/AAAAAAAABQA/r3N0DsEWjNk/s1600/pokrivi16.jpg"></a><a href="https://1.bp.blogspot.com/-KNpu-fOh-XU/VsmJlCVYu4I/AAAAAAAABQI/6hB1qpE0d-0/s1600/pokrivi17.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="https://1.bp.blogspot.com/-KNpu-fOh-XU/VsmJlCVYu4I/AAAAAAAABQI/6hB1qpE0d-0/s1600/pokrivi17.jpg"></a>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="font-size: x-large;"><br></span>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="font-size: x-large;"><br></span>
            </div>
            <div class="separator" style="  text-align: center;">
                <span style="color: blue;"><span style="font-size: x-large;">гр.София кв &nbsp;Фондови жилища</span>&nbsp;</span>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <a href="https://1.bp.blogspot.com/-KnYUqWxIZ6I/VsrQ9LbrgbI/AAAAAAAABQQ/jONDVF5-Fzs/s1600/hidroizolaciq%2B1.jpg" imageanchor="1" style="  float: left; margin-bottom: 1em; margin-right: 1em;"><img border="0" height="320" src="https://1.bp.blogspot.com/-KnYUqWxIZ6I/VsrQ9LbrgbI/AAAAAAAABQQ/jONDVF5-Fzs/s320/hidroizolaciq%2B1.jpg" width="180"></a>
            </div>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a href="https://2.bp.blogspot.com/-PMVL2CTGdAI/VsrQ_w29hmI/AAAAAAAABQU/eQ9L80_I7M4/s1600/hidroizolaciq.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em; text-align: center;"><img border="0" height="320" src="https://2.bp.blogspot.com/-PMVL2CTGdAI/VsrQ_w29hmI/AAAAAAAABQU/eQ9L80_I7M4/s320/hidroizolaciq.jpg" width="180"></a><br>
            <br>
            <br>
            <br>
            <span style="color: blue; font-size: x-large;">Ремонт на покрив два пласта хидроизолация в гр. София ул. Георги С.Раковски № 25</span><br>
            <br>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <a href="https://1.bp.blogspot.com/-ZW6-wk_Pq4U/Vs6XpnYAm6I/AAAAAAAABR4/hZmpV5zoTDQ/s1600/hidroizolaciq.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="320" src="https://1.bp.blogspot.com/-ZW6-wk_Pq4U/Vs6XpnYAm6I/AAAAAAAABR4/hZmpV5zoTDQ/s320/hidroizolaciq.jpg" width="320"></a>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
            <div class="separator" style="  text-align: center;">
                <br>
            </div>
        </div>
    </div>
    <div class="post-share-buttons goog-inline-block inline">

        <a class="send-email share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=email" target="_blank" title="Изпращане по имейл">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-blog share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=blog" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="Публикувайте в блога си!">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-twitter share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=twitter" target="_blank" title="Споделяне в Twitter">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-facebook share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=facebook" onclick="window.open(this.href, _blank, height = 430, width = 640);return false;" target="_blank" title="Споделяне във Facebook">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-pinterest share" href="https://www.blogger.com/share-post.g?blogID=4004540595950310606&postID=241863966144419600&target=pinterest" target="_blank" title="Споделяне в Pinterest">
            <span class="share-button-link-text"></span>
        </a>
        <a class="share-Gplus share" href="https://plus.google.com/share?app=110&url=http%3A%2F%2Fhidroremonti.blogspot.com%2F2016%2F10%2Fblog-post.html" onclick="window.open(this.href, _blank, height = 270, width = 475);return false;" target="_blank" title="G+">
            <span class="share-button-link-text"></span>
        </a>
    </div>
    
</div>